.hero
  padding: 45px 0
  background-color: $background-gray
  &-block
    display: flex
  &-text
    flex-basis: 45%
    &__title
      font-size: 41px
      font-weight: 700
      line-height: 55px
      margin-bottom: 37px
    &__subtitle
      display: inline-block
      font-size: 20px
      font-weight: 500
      margin-bottom: 70px
  &-image
    &__img
      margin-left: 100px
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center   
      margin-bottom: 27px
    &__image
      width: 40px
      height: 40px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 300px
@media (max-width: 1200px)
  .hero
    &-image
      &__img
        margin: auto
    &-block
      flex-direction: column
      align-items: center
    &-list
      margin-bottom: 44px
    &-text
      display: flex 
      flex-direction: column
      align-items: center
      text-align: left
      padding-right: 10px
      &__title
        width: 70%
        text-align: left
      &__subtitle
        width: 70%
        text-align-last: left
@media (max-width: 768px)
  .hero
    padding: 49px 0
    &-image
      &__img
        margin: auto
    &-text
      &__title
        width: 100%
        font-size: 22px
        line-height: 1.4
        margin-top: -10px
        margin-bottom: 7px
      &__subtitle
        width: 100%
        font-size: 16px
        margin-bottom: 26px
    &-list
      margin-bottom: 36px
      &__item
        margin-bottom: 16px
        margin-right: 3px
      &__text
        font-size: 12px
        max-width: 200px
      &__image
        margin-top: 
        margin-right: 15px



