.hero
  padding: 45px 0
  background-color: $background-gray
  &-block
    display: flex
  &-text
    flex-basis: 45%
    margin-top: 3px
    margin-left: -3px
    &__title
      font-size: 41px
      font-family: 'Museo Sans Cyrl 700'
      font-weight: 700
      line-height: 55px
      margin-bottom: 37px
    &__subtitle
      display: inline-block
      font-size: 20px
      font-family: 'Museo Sans Cyrl 700'
      font-weight: 700
      margin-left: 3px
      margin-bottom: 67px
  &-image
    &__img
      margin-left: 70px
      box-shadow: 10px 10px 10px rgba(0,0,0,0.05)
  &-list
    margin: 0
    padding: 0
    margin-left: 5px
    margin-top: 4px
    &__item
      display: flex
      align-items: center   
      margin-bottom: 28px
      &:nth-child(2)
        margin-bottom: 24px
      &:last-child
        margin-bottom: 0
    &__image
      width: 38px
      height: 38px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 250px
      line-height: 1.7
      font-family: 'Museo Sans Cyrl 300'
      font-size: 14px


@media (max-width: 1200px)
  .hero
    &-image
      &__img
        margin: auto
    &-block
      flex-direction: column
      align-items: center
    &-list
      margin-bottom: 44px
    &-text
      display: flex 
      flex-direction: column
      align-items: center
      text-align: left
      padding-right: 10px
      &__title
        width: 70%
        text-align: left
      &__subtitle
        width: 70%
        text-align-last: left
@media (max-width: 768px)
  .hero
    padding: 49px 0
    &-image
      &__img
        width: 500px
        height: 430px
        margin: auto
    &-text
      &__title
        width: 400px
        font-size: 24px
        text-align: center
        line-height: 1.2
        margin-top: -10px
        margin-bottom: 9px
      &__subtitle
        width: 400px
        font-size: 16px
        line-height: 1.2
        margin-bottom: 25px
    &-list
      margin-bottom: 36px
      &__item
        margin-bottom: 21px
      &__text
        font-size: 12px
        max-width: 200px
      &__image
        margin-right: 15px
@media (max-width: 567px)
  .hero
    &-text
      max-width: 310px
      &__title
        text-align: left
        margin-left: 36px
        margin-top: -13px
        width: 290px
      &__subtitle
        width: 262px
        margin-left: 13px
    &-image
      &__img
        width: 272px
        height: 233px
        margin-top: -5px
    &-list
      margin-bottom: 40px
      margin-right: 7px
      &__item
        &:nth-child(2)
          margin-bottom: 23px
      &__text
        line-height: 1.2



